<template>
	<div id="cover" v-if="anyPromo">
		<div class="centrador">
			<div id="fotos">
				<div  v-for="(promo,index) in promos" :key="index" :style="imgBackground(promo.cover)" :class="['foto',{active:current==index}]"></div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['promos'],
		data() {
			return {
				current:0,
				time:6000,
				timer: null,
			};
		},
		computed:{
			anyPromo(){
				return this.promos.length > 0 ? true : false;	
			},
			totalPromos(){
				return this.promos.length;	
			},
		},
		methods: {
			start(){
				
				this.timer = setInterval(()=>{
					
					if(this.current < (this.totalPromos - 1)){
						this.current += 1;
					}else{
						this.current = 0;
					}
					
				},this.time);
				
			},
		},
		mounted() {
			
			if(this.anyPromo){
				this.start();
			}
			
		},
	};
</script>