<template>
	
	<section id="herencia">
		<div class="centrador">
			
			<div class="color">
			
				<div class="centro">
					<h4>Chinaco</h4>
					<h3 v-if="$root.locale == 'es'">Herencia</h3>
					<h3 v-else>Heritage</h3>
					
					<label>Since 1972</label>
					
					<div id="heritage">
						<div class="heritage" :class="{active:current>0}">
							<div class="action" @click="setCurrent(1)">
								<div class="dot"></div>
							</div>
							<div class="texto">
								<small @click="current = 1" v-if="$root.locale == 'es'">Click<br>aquí</small>
								<small @click="current = 1" v-else>Click<br>here</small>
								<p v-if="$root.locale == 'es'">El origen de la Destilería La Gonzaleña se forma de los valores del General Manuel González ex presidente mexicano y héroe de guerra, bisabuelo de nuestro fundador Guillermo González Díaz Lombardo.</p>
								<p v-else>The origin of La Gonzaleña Distillery is due to the values of General Manuel Gonzalez, former mexican president and war hero, great-grandfather of our founder Guillermo Gonzalez Diaz Lombardo.</p>
							</div>
						</div>
						<div class="heritage" :class="{active:current>1}">
							<div class="action" @click="setCurrent(2)">
								<div class="dot"></div>
							</div>
							<div class="texto">
								<p v-if="$root.locale == 'es'">Fundada en 1972, la reconocida Tequilera La Gonzaleña abrió caminos al ser la única destilería autorizada para producir tequila en el estado de Tamaulipas y al llevar el primer tequila ultra premium a Estados Unidos en el año de 1983.</p>
								<p v-else>Founded in 1972, the renowned Tequilera La Gonzaleña blazed trails by being the only distillery authorized to produce tequila in the state of Tamaulipas and bringing the first ultra premium tequila to the US in 1983.</p>
							</div>
						</div>
						<div class="heritage" :class="{active:current>2}">
							<div class="action" @click="setCurrent(3)">
								<div class="dot"></div>
							</div>
							<div class="texto">
								<p v-if="$root.locale == 'es'">Audaz y lleno de sabor, Chinaco no es para los tímidos, pues toma su nombre de los legendarios guerreros que defendieron México en el siglo XIX.</p>
								<p v-else>Bold and full-flavored, Chinaco isn’t designed for timids, even taking its name from the legendary warriors who defended Mexico in the 1800s.</p>
							</div>
						</div>
						<div class="heritage" :class="{active:current>3}">
							<div class="action" @click="setCurrent(4)">
								<div class="dot"></div>
							</div>
							<div class="texto">
								<p v-if="$root.locale == 'es'">Guillermo González Díaz Lombardo, fundador de Tequila Chinaco, fue un empresario visionario, con valores de excelencia y unidad, heredados de su bisabuelo el “Manco” González.</p>
								<p v-else>Chinaco’s Founder, Guillermo Gonzalez, was a visionary businessman, with values of excellence and unity, inherited from his great-grandfather El “Manco” Gonzalez.</p>
							</div>
						</div>
						<div class="heritage" :class="{active:current>4}">
							<div class="action" @click="setCurrent(5)">
								<div class="dot"></div>
							</div>
							<div class="texto">
								<p v-if="$root.locale == 'es'">En la actualidad la reconocida destilería mexicana se mantiene en nuestras manos para continuar elaborando artesanalmente el galardonado Tequila Chinaco, con pasión por los métodos tradicionales del proceso de destilación del tequila.</p>
								<p v-else>Currently, the renowned mexican distillery remains in our hands, to continue crafting the award-winning Chinaco Tequila, with passion for the traditional methods of the tequila distillation process.</p>
							</div>
						</div>
					</div>
				
				</div>
			
			</div>
			
			<div id="photos">
				<div class="photo" :class="{active:current == 0}">
					<div class="blurfoto" style="background: url('/images/heritage.jpg')no-repeat center center;"></div>
				</div>
				<div class="photo" :class="{active:current == 1}">
					<div class="blurfoto" style="background: url('/images/heritage1.jpg')no-repeat center center;"></div>
				</div>
				<div class="photo" :class="{active:current == 2}">
					<div class="blurfoto" style="background: url('/images/heritage2.jpg')no-repeat center center;"></div>
				</div>
				<div class="photo" :class="{active:current == 3}">
					<div class="blurfoto" style="background: url('/images/heritage3.jpg')no-repeat center center;"></div>
				</div>
				<div class="photo" :class="{active:current == 4}">
					<div class="blurfoto" style="background: url('/images/heritage4.jpg')no-repeat center center;"></div>
				</div>
				<div class="photo" :class="{active:current == 5}">
					<div class="blurfoto" style="background: url('/images/heritage5.jpg')no-repeat center center;"></div>
				</div>
			</div>
			
			
			
		</div>
	</section>
	

	
</template>

<script>

	export default {
		data() {
			return {
				current: 0,
				timer: null,
			};
		},
		methods: {
			
			setCurrent(pos){
				
				clearInterval(this.timer);
				
				this.current = pos;
				
				setTimeout(()=>{
					
					this.timer = setInterval(()=>{
				
						if(this.current < 5){
							this.current += 1;
						}else{
							this.current = 0;
						}
						
					},6000);
					
					
				}, 1000);
				
					
			},

		},
		mounted() {

			this.timer = setInterval(()=>{
				
				if(this.current < 5){
					this.current += 1;
				}else{
					this.current = 0;
				}
				
			},6000);
			
		},
	};
</script>
