<template>
	<header :class="{menu:menu}">
	
		<div id="header">
			<div class="centrador">
				
				<div id="logo" v-scroll-to="'#header'">
					<img src="/images/chinaco.svg">
				</div>
				
				<div id="cerrador" :class="{active:menu}" @click="closeMenu"></div>
				
				<div id="menu">
					<menu @click="closeMenu">
						<div class="link" v-scroll-to="'#productos'" v-if="$root.locale == 'es'"><span>Productos</span></div>
						<div class="link" v-scroll-to="'#productos'" v-else><span>Our products</span></div>
						<div class="link" v-scroll-to="'#origen'" v-if="$root.locale == 'es'"><span>Origen</span></div>
						<div class="link" v-scroll-to="'#origen'" v-else><span>Our origins</span></div>
						<div class="link" v-scroll-to="'#contacto'" v-if="$root.locale == 'es'"><span>Contacto</span></div>
						<div class="link" v-scroll-to="'#contacto'" v-else><span>Contact us</span></div>
						<div class="link" v-if="$root.locale == 'en'" v-scroll-to="'#ubicaciones'"><span>Product Locator</span></div>
						<div class="link" v-if="$root.locale == 'es'"><a href="https://www.reservebar.com/collections/chinaco-tequila" target="_tab"><span>Comprar</span></a></div>
						<div class="link" v-else><a href="https://www.reservebar.com/collections/chinaco-tequila" target="_tab"><span>Buy now</span></a></div>
						<div class="link"><img src="/images/mx.svg" @click="redirect(route('site.localization', {locale: 'es'} ))"><b></b><img src="/images/us.svg" @click="redirect(route('site.localization', {locale: 'en'} ))"></div>
					</menu>
				</div>
				
				<div id="actions">
					<div class="action" id="btnMenu" @click="showMenu">
						<div class="ico">
							<img src="/images/menu.svg">
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
		
		<div id="scroll" v-scroll-to="'#header'" :class="{active:!scroll}">
			<img src="/images/scroll.svg">
		</div>
		
	</header>
	

	
</template>

<script>

	export default {
		props: ['path'],
		data() {
			return {
				menu: false,
				promo: false,
				scroll: true,
				scrolltop: 0,
			};
		},
		methods: {
			showMenu() {
				if (!this.menu) {
					this.menu = true;
				} else {
					this.menu = false;
				}
			},

			closeMenu() {
				this.menu = false;
			},

		},
		mounted() {

			window.addEventListener('scroll', (e)=> {
			
				this.scrolltop = window.scrollY;
				
				if(this.scrolltop > 500){
					this.scroll = false;
				}else{
					this.scroll = true;
				}
				
				
			});
			
			window.addEventListener('wheel', (event)=> {

			    if (event.deltaY >= 0) {

			        //SCROLL DOWN

			    }

			});

			
		},
	};
</script>
