////////////COLLECTION
////////////////////////

//COLLECTION ITEM
.collection_item{


	&.new{
		.perspective(50%);
	}
	
	//CUSTOM
	
	.foto{
		.perspective(50%);
	}
	
}


//COLLECTION FORM
.view#edit_view #collection_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 450px;
	
	
	#collection_cover{
		.foto{
			.perspective(50%);
		}
	}
	
	
	.seccion#categories{
		
		.fotos .foto{
			.perspective(50%);
		}
		
		.blockManager{
		
			.bloques{
				
				.borderbox;
				.flexbox;
				justify-content: space-between;
				
				.bloque{
					
					width: 49%;
					
					.preview{
						.imagen{
							background-size: cover !important;
							&:after{
								padding-bottom: 150%;
							}
						}
						.texto{
							padding: 10px;
							span{
								display: block;
								.text(400);
								font-size: 15px;
								color: @color--admin--text;
							}
						}
					}
					
					.edit{
						.fotos .foto{
							&:after{
								padding-bottom: 100%;
							}
						}
					}
					
				}
			}
			
		}
		
	}
	
	
}


//COLLECTION PREVIEW
.view#preview #collection_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}