////////////DISCOUNT
////////////////////////

//DISCOUNT ITEM
.discount_item{


	&.new{
		
	}
	
	//CUSTOM
	
	
}


//DISCOUNT FORM
.view#edit_view #discount_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
}


//DISCOUNT PREVIEW
.view#preview #discount_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}