////////////ORDER
////////////////////////

//ORDER ITEM
.order_item{

	//CUSTOM
	
	.flexbox;
	min-height: 50px;
	
	.texto{
		width: 100%;
		span{
			margin-top: 4px;
		}
	}
	
	.status{
		min-width: 35px;
		.centrar;
		i{
			color: white;
			display: none;
			font-size: 18px;
			display: none;
			&.showed{
				display: block;
			}
		}
		
		&.ready{
			background: #F9DA9C;
		}
		
		&.paid{
			background: #A0E1A4;
		}
		
		&.error{
			background: #B85959;
		}
		
		&.sent{
			background: #64BF69;
		}
	}
	
	
	
}


//ORDER FORM
.view#edit_view #order_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 420px;
	
	.input#status{
		pointer-events: none;
		&.ready{
			border-bottom: 2px solid #F9DA9C;
		}
		
		&.paid{
			border-bottom: 2px solid #A0E1A4;
		}
		
		&.error{
			border-bottom: 2px solid #B85959;
		}
		
		&.sent{
			border-bottom: 2px solid #64BF69;
		}
	}
	

	
}


//ORDER PREVIEW
.view#preview #order_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
	max-width: 500px;
	
	.contenido{
		padding: 20px 20px;
	}
	
	
	.seccion#products{
		
		
		.content{
			background: none;
			box-shadow: none;
			padding-top: 0px;
			padding-bottom: 0px;
			
			.contenido{
				background: #fafafa;
				box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.16);
			}
			
		}

	
		#productos{
			position: relative;
			.dashed;
			
			
			.producto{
				position: relative;
				.flexbox;
				.dashed;
				align-items: flex-start;
				margin-bottom: 10px;
				background: #fafafa;
				padding: 20px 20px;
				box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.16);
				
				.foto{
					position: relative;
					width: 70px;
					min-width: 70px;
					background: white;
					background-size: contain !important;
					border: 1px solid @color--admin--line;
					.borderbox;
					margin-right: 10px;
					&:after{
						display: block;
						padding-bottom: 100%;
						content: '';
					}
				}
				
				.cantidad{
					position: relative;
					.dashed;
					width: 40px;
					min-width: 40px;
					margin-right: 5px;
					span{
						display: block;
						.text(400);
						font-size: 20px;
						color: @color--admin--text;
					}
				}
				
				.nombre{
					position: relative;
					.dashed;
					width: 100%;
					margin-right: 5px;
					span{
						display: block;
						.text(300);
						font-size: 16px;
						color: @color--admin--text;
					}
					p{
						display: block;
						background: #ECECEC;
						padding: 10px;
						.text(300);
						text-align: center;
						white-space: pre-line;
						color: @color--admin--text;
					}
				}
				
				.precio{
					position: relative;
					.dashed;
					min-width: 80px;
					b{
						display: block;
						.text(400);
						text-align: right;
						font-size: 18px;
						color: @color--admin--text;
					}
				}
				
				&:last-of-type{
					margin-bottom: 0px;
				}
				
				
			}
			
		}
	
	}
	
	
	.seccion#customer{}
	.seccion#shipping{}
	.seccion#payment{}
	
	
	
	
}