////////////PRODUCT
////////////////////////

//PRODUCT ITEM
.product_item{


	&.new{
		&:after{
			content: '';
			display: block;
			padding-bottom: 80%;
		}
	}
	
	//CUSTOM
	
	.foto{
		&:after{
			padding-bottom: 80%;
		}
	}
	
	.texto{
		span{
			margin-top: 2px;
		}
	}
	
	
}


//PRODUCT FORM
.view#edit_view #product_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	width: 450px;
	
	.fotos#product_cover{
		.foto:after{
			padding-bottom: 80%;
		}
	}
	
	
	#product{
		position: relative;
		background: #fafafa;
		margin-bottom: 40px;
		box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
		.product{
			position: relative;
			.foto{
				position: relative;
				.perspective(100%);
				.blurfoto{
					background: @color--admin--background;
					background-size: cover !important;
				}
			}
			.texto{
				position: relative;
				padding: 20px 20px 15px;
				strong{
					.text(500);
					display: block;
					font-size: 16px;
					color: @color--admin--text;
				}
				b{
					display: block;
					.text(400);
					color: @color--admin--text--light;
					font-size: 14px;
					margin-top: 6px;
				}
			}
		}
	}
	
	
	//VARIANTS
	
	.ShopProduct{
		
		position: relative;
		
		.seccion{
			
			margin-bottom: 20px;

			.task{
				position: relative;
				.flexbox;
				justify-content: space-between;
				align-items: center;
				height: 40px;
				background: #fafafa;
				padding: 0px 15px;
				.title{
					position: relative;
					.flexbox;
					align-items: center;
					h6{
						font-size: 12px;
						text-transform: uppercase;
						margin-right: 6px;
						margin-top: 3px;
					}
					.info{
						position: relative;
						cursor: pointer;
						margin-right: 6px;
						&:hover{
							.tip{
								opacity: 1;
							}
						}
						.ico{
							position: relative;
							min-width: 20px;
							width: 20px;
							height: 20px;
							.centrar;
							border-radius: 50%;
							i{
								display: block;
								color: black;
								opacity: .4;
								font-size: 14px;
							}
						}
						.tip{
							width: 120px;
							top: 150%;
						}
					}
				}
				.controls{
					position: relative;
					.flexbox;
					align-items: center;
					justify-content: flex-end;
					.control{
						position: relative;
						min-width: 30px;
						width: 30px;
						height: 30px;
						.centrar;
						border-radius: 50%;
						cursor: pointer;
						&#edit{
							i{
								color: black;
								opacity: .4;
							}
						}
						&#close{
							display: none;
							i{
								color: @color--admin--accent;
							}
						}
					}
				}
			}
			
			
			.content{
				display: none;
			}
			
			
			&.max{
				
				.task{
					.controls{
						.control#edit{
							display: none;
						}
						.control#close{
							.flexbox;
						}
					}
					border-bottom: 1px solid #F6F6F6;
				}
				
				.content{
					display: block;
				}
			}
			
		}
		
		
		
		
		
		.seccion#props{
			
			
			.content{
				background: none;
			}
			
			.groups{
				position: relative;
				.group{
					position: relative;
					margin-bottom: 10px;
					background: #fafafa;
					
					.input.check{
						padding-left: 85px;
					}
					.colors{
						position: relative;
						.color{
							position: relative;
							.flexbox;
							.input{
								width: 100%;
								padding-left: 125px;
								input[type="color"]{
									width: 22px;
									padding-left: 0px;
									padding-right: 0px;
								}
							}
						}
					}
					
					&:nth-child(1){
						border-left: 5px solid #5FD3CA;
						
						.input.tags-input .tags .tag{
							background: #5FD3CA;
						}
						.input.check input:checked+.checkbox{
							background: #5FD3CA;
						}
					}
					
					&:nth-child(2){
						border-left: 5px solid #2DB1F5;
						.input.tags-input .tags .tag{
							background: #2DB1F5;
						}
						.input.check input:checked+.checkbox{
							background: #2DB1F5;
						}
					}
					
				}
				button{
					border: 5px dashed #C8C8C8;
					background: none;
					color: #C8C8C8;
					font-size: 15px;
					display: block;
					.text(400);
					text-transform: none;
					margin-bottom: 10px;
				}
			}
			
		}
		
		.seccion#editProps{
			
			.content{
				background: none;
			}
			
			.groups{
				position: relative;
				.group{
					position: relative;
					margin-bottom: 10px;
					background: #fafafa;
					
					
					.title{
						position: relative;
						.preview{
							position: relative;
							.flexbox;
							align-items: center;
							height: 40px;
							padding: 0px 15px;
							strong{
								display: block;
								margin-right: 6px;
								.text(500);
								font-size: 12px;
								color: @color--admin--text;
								text-transform: uppercase;
								margin-top: 2px;
							}
							.ico{
								position: relative;
								min-width: 16px;
								width: 16px;
								height: 16px;
								border-radius: 50%;
								.centrar;
								cursor: pointer;
								i{
									display: block;
									font-size: 12px;
									color: @color--admin--text;
								}
							}
						}
						.edit{
							position: relative;
							margin-bottom: 10px;
							.input{
								border-bottom: none;
								.focus{
									display: none;
								}
							}
						}
					}
					
					
					.values{
						position: relative;
						.flexbox;
						flex-wrap: wrap;
						padding: 0px 15px 0px 15px;
						align-items: flex-start;
						.value{
							position: relative;
							margin: 0px 10px 10px 0px;
							.flexbox;
							height: 25px;
							align-items: center;
							padding: 0px 5px 0px 10px;
							span{
								.text(400);
								font-size: 12px;
								color: black;
								display: block;
								margin-top: 2px;
							}
							.colors{
								position: relative;
								margin-left: 6px;
								.flexbox;
								align-items: center;
								.color{
									position: relative;
									width: 6px;
									height: 12px;
									border: 1px solid black;
									&:first-of-type{
										border-radius: 10px 0px 0px 10px;
									}
									&:last-of-type{
										border-radius: 0px 10px 10px 0px;
										border-left: none;
									}
								}
								
							}
							.actions{
								position: relative;
								.flexbox;
								align-items: center;
								margin-left: 6px;
								.action{
									position: relative;
									width: 16px;
									.centrar;
									cursor: pointer;
									i{
										color: black;
										font-size: 12px;
										display: block;
									}
								}
							}
						}
						
						.plus{
							position: relative;
							cursor: pointer;
							.centrar;
							height: 25px;
							width: 25px;
							margin-bottom: 10px;
							i{
								color: black;
								font-size: 12px;
								display: block;
							}
						}
					}
					
					.modify{
						position: relative;
						.color{
							position: relative;
							.flexbox;
							.input{
								width: 100%;
								padding-left: 125px;
								input[type="color"]{
									width: 22px;
									padding-left: 0px;
									padding-right: 0px;
								}
							}
						}
					}
					
					&:last-of-type{
						margin-bottom: 0px;
					}
					
					&:nth-child(1){
						border-left: 5px solid #5FD3CA;
						
						.values .value,.values .plus{
							background: #5FD3CA;
						}
					}
					
					&:nth-child(2){
						border-left: 5px solid #2DB1F5;
						.values .value,.values .plus{
							background: #2DB1F5;
						}
					}
					
					
					
				}
				>button{
					border: 5px dashed #C8C8C8;
					background: none;
					color: #C8C8C8;
					font-size: 15px;
					display: block;
					.text(400);
					text-transform: none;
					margin-top: 10px;
					margin-bottom: 10px;
					
				}
			}
		}
		
		
		
		.seccion#editVariants{
			
			.content{
				background: none;
			}
			
			.titles{
				position: relative;
				.flexbox;
				padding: 8px 0px;
				background: #ECECEC;
				.title{
					position: relative;
					.borderbox;
					padding-left: 10px;
					label{
						.text(500);
						color: @color--admin--text;
						font-size: 10px;
						text-transform: uppercase;
						display: block;
					}
				}
				
				.t_variant{
					width: 40%;
				}
				
				.t_price{
					width: 20%;
				}
				
				.t_image{
					width: 22%;
				}
				
				.t_actions{
					width: 18%;
				}
				
			}
		
			.variants{
				position: relative;
				
				.variant{
					position: relative;
					background: #fafafa;
					border-bottom: 1px solid @color--admin--text--light;
					
					.v_content{
						position: relative;
						.flexbox;
						
						.cell{
							position: relative;
							min-height: 40px;
							.flexbox;
							align-items: center;
							span{
								display: block;
								padding-left: 10px;
								.text(500);
								color: @color--admin--text;
								font-size: 10px;
								text-transform: uppercase;
							}
							
							.input{
								::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.65);}
								::-moz-placeholder{color: rgba(0, 0, 0, 0.65);}
								:-ms-input-placeholder{color: rgba(0, 0, 0, 0.65);}
								:-moz-placeholder{ color: rgba(0, 0, 0, 0.65);}
								margin-bottom: 0px;
								border-bottom: 0px;
								height: 40px;
								min-height: 40px;
								label{
									display: none;
								}
								input{
									padding-left: 10px;
									font-size: 14px;
								}
							}
							
							.fotos{
								width: 100%;
								padding: 10px;
								.del{
									position: absolute;
									top: 0px;
									right: 0px;
									width: 25px;
									height: 25px;
									border-radius: 50%;
									cursor: pointer;
									background: @color--admin--del;
									.centrar;
									z-index: 20;
									i{
										color: white;
										display: block;
										font-size: 12px;
									}
								}
							}
							
							.action{
								position: relative;
								width: 25px;
								height: 25px;
								border-radius: 50%;
								cursor: pointer;
								background: @color--admin--accent;
								.centrar;
								i{
									color: @color--admin--over;
									display: block;
									font-size: 12px;
								}
							}
						}
						.c_variant{
							width: 40%;
						}
						
						.c_price{
							width: 20%;
							cursor: pointer;
						}
						
						.c_image{
							width: 22%;
							justify-content: center;
							cursor: pointer;
						}
						
						.c_actions{
							width: 18%;
							justify-content: center;
						}
						
						&#edit{
							
						}
						
					}
				}
				
				&#on{
					
				}
				
				&#off{
					.variant{
						.v_content#preview{
							.cell{
								span{
									opacity: .6;
								}
								.action{
									background: #ECECEC;
									i{
										color: white;
									}
								}
								&.c_price{
									cursor: default;
									span{
										cursor: default;
									}
								}
								&.c_image{
									cursor: default;
								}
							}
						}
					}
				}
				
			}
		}
		
		.seccion#editTags{
			
			.content{
				background: none;
			}
			
			.groups{
				position: relative;
				.group{
					position: relative;
					margin-bottom: 10px;
					background: #fafafa;
					border-left: 5px solid @color--admin--accent;
					
					.title{
						position: relative;
						.preview{
							position: relative;
							.flexbox;
							align-items: center;
							height: 40px;
							padding: 0px 15px;
							strong{
								display: block;
								margin-right: 6px;
								.text(500);
								font-size: 12px;
								color: @color--admin--text;
								text-transform: uppercase;
								margin-top: 2px;
							}
							.ico{
								position: relative;
								min-width: 16px;
								width: 16px;
								height: 16px;
								border-radius: 50%;
								.centrar;
								cursor: pointer;
								i{
									display: block;
									font-size: 12px;
									color: @color--admin--text;
								}
							}
						}
						.edit{
							position: relative;
							margin-bottom: 10px;
							.input{
								border-bottom: none;
								.focus{
									display: none;
								}
							}
						}
					}
					
					
					.values{
						position: relative;
						.flexbox;
						flex-wrap: wrap;
						padding: 0px 15px 0px 15px;
						align-items: flex-start;
						.value{
							position: relative;
							margin: 0px 10px 10px 0px;
							.flexbox;
							height: 25px;
							align-items: center;
							padding: 0px 5px 0px 10px;
							background: @color--admin--accent;
							span{
								.text(400);
								font-size: 12px;
								color: @color--admin--over;
								display: block;
								margin-top: 2px;
							}
							.colors{
								position: relative;
								margin-left: 6px;
								.flexbox;
								align-items: center;
								.color{
									position: relative;
									width: 6px;
									height: 12px;
									border: 1px solid black;
									&:first-of-type{
										border-radius: 10px 0px 0px 10px;
									}
									&:last-of-type{
										border-radius: 0px 10px 10px 0px;
										border-left: none;
									}
								}
								
							}
							.actions{
								position: relative;
								.flexbox;
								align-items: center;
								margin-left: 6px;
								.action{
									position: relative;
									width: 16px;
									.centrar;
									cursor: pointer;
									i{
										font-size: 12px;
										display: block;
										color: @color--admin--over;
									}
								}
							}
						}
						
						.plus{
							position: relative;
							cursor: pointer;
							.centrar;
							height: 25px;
							width: 25px;
							background: @color--admin--accent;
							margin-bottom: 10px;
							i{
								color: @color--admin--over;
								font-size: 12px;
								display: block;
							}
						}
					}
					
					.modify{
						position: relative;
						.color{
							position: relative;
							.flexbox;
							.input{
								width: 100%;
								padding-left: 125px;
								input[type="color"]{
									width: 22px;
									padding-left: 0px;
									padding-right: 0px;
								}
							}
						}
					}
					
					&:last-of-type{
						margin-bottom: 0px;
					}
					
					
				}
				>button{
					border: 5px dashed #C8C8C8;
					background: none;
					color: #C8C8C8;
					font-size: 15px;
					display: block;
					.text(400);
					text-transform: none;
					margin-top: 10px;
				}
			}
			
			
		}
		
		
		
	}
	
	
	
	
	
	
	
}


//PRODUCT PREVIEW
.view#preview #product_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}