////////////SHIPPING
////////////////////////

//SHIPPING ITEM
.shipping_item{


	&.new{
		height: 60px;
	}
	
	//CUSTOM
	
	.texto{
		span{
			margin-top: 4px;
		}
	}
	
}


//SHIPPING FORM
.view#edit_view #shipping_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 400px;
	
}


//SHIPPING PREVIEW
.view#preview #shipping_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}