#age{
	.coverfull;
	position: fixed;
	z-index: 200;
	.centrar;
	opacity: 0;
	pointer-events: none;
	.transition(600ms);
	.blurfoto{
		background-size: cover !important;
	}
	.blurcolor{
		background: black;
		opacity: .75;
	}
	.centro{
		>img{
			margin: 0px auto;
		}
		.form{
			position: relative;
			margin-top: 90px;
			>span{
				display: block;
				.text(bold);
				text-transform: uppercase;
				color: @color--primary;
				letter-spacing: 2px;
				text-align: center;
				margin-bottom: 50px;
				font-size: 21px;
			}
			.actions{
				position: relative;
				.centrar;
				button{
					margin: 0px 25px;
				}
			}
		}
	}
	.msg{
		position: relative;
		background: @color--secundary;
		z-index: 30;
		width: 100%;
		max-width: 430px;
		padding: 40px 60px;
		>span{
			display: block;
			.text(500);
			text-transform: uppercase;
			color: @color--primary;
			letter-spacing: 2px;
			text-align: center;
			font-size: 18px;
		}
		button{
			margin: 25px auto 0px;
			span{
				font-size: 18px;
			}
		}
	}
	&.active{
		opacity: 1;
		pointer-events: all;
	}
}



#site{


	position: relative;
	overflow: hidden;

	#cover{
		position: relative;
		height: 100vh;
		.blurfoto{
			background-size: cover !important;
		}
		.blurcolor{

		}
		.rrss{
			position: absolute;
			left: 40px;
			bottom: 30px;
			z-index: 30;
			.flexbox;
			.ico{
				position: relative;
				.centrar;
				margin-right: 28px;
				i{
					color: @color--primary;
					font-size: 18px;
				}
			}
		}
		>img{
			position: absolute;
			right: 90px;
			bottom: 60px;
			z-index: 40;
			width: 240px;
		}
	}


	main{

		section#excepcional{
			.centrador{

				.flexbox;
				max-width: none;
				padding: 0px;

				.color{
					position: relative;
					width: 50%;
					background: @color--secundary;
					.centrar;
					.borderbox;
					.centro{
						width: 100%;
						max-width: 570px;
						h3{

						}
						h4{

						}
						.features{
							position: relative;
							.centrar;
							margin-top: 15px;
							label{
								padding: 2px 20px;
								display: block;
								.text(bold);
								color: @color--primary;
								letter-spacing: 8px;
								font-size: 14px;
								&:nth-child(2){
									border-left: 1px solid @color--primary;
								}
							}
						}
						p{
							text-align: center;
							color: @color--primary;
							margin: 60px auto 0px;
						}
					}
				}

				.photo{
					position: relative;
					width: 50%;
					.perspective(95%);
					.blurfoto{
						background-size: cover !important;
					}
				}

			}
		}


		section#productos{

			.centrador{

				.color{
					padding: 250px 0px;
					background: white;
					.centrar;
					.borderbox;
					.centro{
						h4{
							font-size: 25px;
							color: @color--text;
						}
						h3{
							font-size: 37px;
							color: @color--text;
						}
						p{
							margin: 60px auto 0px;
							text-align: center;
							max-width: 780px;
						}
					}
				}

			}
		}


		section#products{
			.centrador{

				max-width: none;
				padding: 0px;

				.producto{
					position: relative;
					.flexbox;
					.color{
						position: relative;
						width: 50%;
						.centrar;
						.borderbox;
						.centro{
							max-width: 570px;
							width: 100%;
							h4{
								font-size: 21px;
							}
							h3{
								font-size: 40px;
							}
							h6{
								text-align: center;
								margin: 0px;
								text-transform: uppercase;
								.text(bold);
								font-size: 10px;
								letter-spacing: 2px;
								margin-bottom: 20px;
							}
							.features{

							}
							p{
								margin-top: 60px;
							}
						}
					}
					.photo{
						position: relative;
						.perspective(112%);
						width: 50%;
						.blurfoto{
							background-size: cover !important;
						}
						img{
							position: absolute;
							z-index: 30;
							top: 30px;
							right: 30px;
							pointer-events: none;
							display: none;
						}
					}

					&.flip{
						flex-direction: row-reverse;
					}

					&.craft{
						.photo{
							img{
								display: block;
							}
						}
					}


					&#product1{
						.color{
							background: @color--primary;
							.centro{
								h4,h3{
									color: @color--text;
								}
								.features label{
									color: @color--text;
									&:nth-child(2){
										border-left: 1px solid @color--text;
									}
								}
							}
						}
					}

					&#product2{
						.color{
							background: @color--terciary;
							.centro{
								p{
									color: @color--primary;
								}
							}
						}
					}

					&#product3{
						.color{
							background: @color--secundary;
							.centro{
								p{
									color: @color--primary;
								}
							}
						}
					}

					&#product4{
						.color{
							background: @color--primary;
							.centro{
								h4,h3,h6{
									color: @color--text;
								}
								h3{
									font-size: 30px;
								}
								.features label{
									color: @color--text;
									&:nth-child(2){
										border-left: 1px solid @color--text;
									}
								}
							}
						}
					}

					&#product5{
						.color{
							background: #06100B;
							.centro{
								p{
									color: @color--primary;
								}
							}
						}
					}



				}

			}
		}


		section#origen{
			.centrador{
				max-width: none;
				padding: 0px;
				.color{
					background: #0E291C;
					.centrar;
					padding: 125px 0px 160px;
					.blurfoto{
						opacity: .25;
						pointer-events: none;
						background-size: cover !important;
					}
					.centro{
						width: 100%;
						max-width: 730px;
						h4{
							font-size: 34px;
							letter-spacing: 6px;
						}
						h3{
							font-size: 50px;
						}
						label{
							display: block;
							.text(bold);
							color: @color--primary;
							letter-spacing: 8px;
							text-align: center;
							text-transform: uppercase;
							font-size: 13px;
							margin-top: 15px;
							line-height: 1.6;
						}
						p{
							color: @color--primary;
							margin-top: 100px;
						}
					}
				}

			}
		}


		section#herencia{
			padding: 35px 0px;
			.centrador{

				.flexbox;
				align-items: flex-start;
				padding: 0px 40px;
				max-width: none;

				.color{
					position: relative;
					width: 40%;
					padding: 40px 40px 20px 40px;
					.borderbox;
					.centro{
						width: 100%;
						max-width: 570px;
						h4{
							font-size: 16px;
							color: @color--text;
						}
						h3{
							font-size: 36px;
							color: @color--text;
						}
						label{
							display: block;
							.text(bold);
							color: @color--text;
							letter-spacing: 8px;
							text-align: center;
							text-transform: uppercase;
							font-size: 11px;
							margin-top: 5px;
							line-height: 1.6;
						}

						#heritage{
							position: relative;
							margin-top: 100px;
							&:after{
								position: absolute;
								left: 10px;
								top: 0;
								height: 100%;
								width: 1px;
								background: @color--text;
								content: '';
								display: block;
							}
							.heritage{
								position: relative;
								.flexbox;
								align-items: center;
								margin-bottom: 50px;
								z-index: 20;
								.action{
									position: relative;
									width: 60px;
									min-width: 60px;
									z-index: 25;
									cursor: pointer;
									height: 100%;
									.dot{
										position: relative;
										width: 12px;
										height: 12px;
										background: @color--text;
										border-radius: 50%;
										margin-left: 5px;
										&:after{
											.center-align;
											content: '';
											width: 22px;
											height: 22px;
											border: 1px solid @color--text;
											border-radius: 50%;
											.transition(400ms);
											opacity: 0;
										}
									}
									&:hover{
										.dot{
											&:after{
												opacity: 1;
											}
										}
									}
								}
								.texto{
									position: relative;
									width: 100%;
									small{
										display: block;
										.vertical-align;
										left: 0;
										font-size: 12px;
										.text(bold);
										.transition(600ms);
										text-transform: uppercase;
										color: @color--secundary;
										cursor: pointer;
									}
									p{
										font-size: 23px;
										.text(normal);
										opacity: 0;
										pointer-events: none;
										.transition(600ms);
									}
								}
								&.active{
									.action{
										.dot{
											&:after{
												opacity: 1;
											}
										}
									}
									.texto{
										small{
											opacity: 0;
										}
										p{
											opacity: 1;
											pointer-events: none;
										}
									}
								}
								&:first-of-type:after{
									position: absolute;
									content: '';
									display: block;
									height: 50%;
									background: white;
									left: 0;
									width: 60px;
									top: 0px;
								}
								&:last-of-type:after{
									position: absolute;
									content: '';
									display: block;
									height: 50%;
									background: white;
									left: 0;
									width: 60px;
									bottom: 0px;
								}
							}
						}

					}
				}

				#photos{
					position: relative;
					width: 60%;
					.perspective(95%);
					.photo{
						.coverfull;
						opacity: 0;
						.transition(600ms);
						.blurfoto{
							background-size: cover !important;
						}
						&.active{
							opacity: 1;
						}
					}
				}



			}
		}


		section#terroir{
			background: @color--secundary;
			padding: 160px 0px 120px;

			.blurfoto{
				background-size: cover !important;
			}

			.blurfoto#mobile{
				display: none;
			}

			.blurcolor{

			}

			#locations{
				.coverfull;
				z-index: 18;
				.location{
					position: absolute;
					img{
						position: absolute;
					}
					b{
						display: block;
						.text(bold);
						color: @color--primary;
						letter-spacing: 8px;
						text-transform: uppercase;
						font-size: 17px;
					}
					span{
						display: block;
						font-size: 16px;
						color: @color--primary;
						.text(500);
						text-transform: uppercase;
						line-height: 1.2;
						margin-top: 15px;
					}
					&#tamaulipas{
						left: 42%;
						top: 21%;
						img{
							top: 50%;
							right: 110%;
						}
					}
					&#jalisco{
						top: 76%;
						left: 12%;
						img{
							bottom: 50%;
							left: 110%;
						}
					}
				}
			}

			.centrador{

				.flexbox;
				justify-content: flex-end;

				.centro{
					width: 100%;
					max-width: 570px;
					h4{
						font-size: 23px;
					}
					h3{
						font-size: 37px;
					}
					label{
						display: block;
						.text(bold);
						color: @color--primary;
						letter-spacing: 8px;
						text-align: center;
						text-transform: uppercase;
						font-size: 15px;
						margin-top: 5px;
						line-height: 1.6;
					}
					p{
						color: @color--primary;
						margin-top: 60px;
					}
				}
			}
		}


		section#sabor{
			.centrador{

				#photo{
					position: relative;
					.perspective(95%);
					display: none;
					.blurfoto{
						background-size: cover !important;
					}
				}

				#factors{
					position: relative;
					margin: 0px auto;
					width: 350px;
					padding-top: 40px;
					padding-bottom: 120px;
					&:after{
						position: absolute;
						left: 50%;
						top: 0;
						height: 100%;
						width: 1px;
						background: @color--text;
						content: '';
						display: block;
						z-index: 5;
					}
					.factor{
						position: relative;
						z-index: 10;
						margin: 0px auto 200px;
						width: 12px;

						.texto{
							position: absolute;
							top: -10px;
							width: 300px;
							h4{
								text-align: left;
								margin-bottom: 30px;
								font-size: 22px;
								color: @color--text;
							}
							span{
								display: block;
								.text(normal);
								font-size: 25px;
								color: @color--text;
								line-height: 1.3;
							}
						}
						.dot{
							position: relative;
							width: 12px;
							height: 12px;
							min-width: 12px;
							border-radius: 50%;
							background: @color--secundary;
						}
						&.center{
							.texto{
								background: white;
								padding: 15px 0px;
								.horizontal-align;
								width: 350px;
								span{
									text-align: center;
								}
							}

						}
						&.left{
							.texto{
								left: 50px;
							}
						}
						&.right{
							.texto{
								right: 50px;
								h4, span{
									text-align: right;
								}

							}
						}
					}

				}

			}
		}


		section#reconocimientos{
			.centrador{

				padding: 0px;
				max-width: none;

				#slider{
					position: relative;
					.perspective(40%);
					#photos{
						.coverfull;
						.photo{
							.coverfull;
							opacity: 0;
							.transition(600ms);
							.blurfoto{
								background-size: cover !important;
							}
							.blurfoto#mobile{
								display: none;
							}
							.blurcolor{

							}
							.centro{
								position: absolute;
								top: 120px;
								left: 170px;
								width: 100%;
								max-width: 340px;
								opacity: 0;
								h4{
									font-size: 23px;
									text-align: left;
									margin-bottom: 20px;
								}
								h3{
									text-align: left;
								}
								span{
									display: block;
									.text(bold);
									text-transform: uppercase;
									color: @color--primary;
									font-size: 18px;
									letter-spacing: 4px;
									margin-bottom: 30px;
								}
								small{
									display: block;
									.text(500);
									text-transform: uppercase;
									color: @color--primary;
									font-size: 17px;
									letter-spacing: 3px;
								}
								>img{
									margin-bottom: 10px;
								}

								&.active{
									opacity: 1;
								}
							}
							&.active{
								opacity: 1;
							}
						}
					}
					nav{
						position: absolute;
						top: 0;
						width: 150px;
						.centrar;
						height: 100%;
						z-index: 40;
						.arrow{
							position: relative;
							.centrar;
							cursor: pointer;
							img{

							}
						}
						&#prev{
							left: 0;
						}
						&#next{
							right: 0;
						}
					}
				}

			}
		}


		section#contacto{
			padding: 150px 0px 200px;
			.centrador{
				.centro{

					h4{
						font-size: 30px;
						color: @color--text;
					}

					#formulario{
						position: relative;
						margin: 70px auto 0px;
						max-width: 750px;
						.input{
							input,textarea{
								text-align: center;
								height: 50px;
								border: 1px solid #568469;
								.text(500);
								font-size: 15px;
								text-transform: uppercase;
								letter-spacing: 5px;
							}
							textarea{
								height: auto;
							}
							&.alerta{
								input,textarea{
									border: 1px solid red;
								}
							}
						}
						button{
							margin: 60px auto 0px;
							height: 36px;
							span{
								font-size: 14px;
							}
						}

						&.waiting{
							pointer-events: none;
							cursor: wait;
						}

						&.error{
							button{
								pointer-events: none;
							}
						}

						&.ok{
							button{
								pointer-events: none;
							}
						}
					}

					.link{
						margin-top: 40px;
						span{
							position: relative;
							.underlined(2px,100%,@color--text);
						}
					}


				}
			}
		}


	}





	//SOON

	#soon{
		position: relative;
		height: 100vh;
		.flexbox;
		flex-direction: column;
		.borderbox;
		padding: 60px 0px;

		#photos{
			.coverfull;
			.photo{
				.coverfull;
				opacity: 0;
				pointer-events: none;
				background-size: cover !important;
				.transition(800ms);
				&.desktop{

				}
				&.mobile{
					display: none;
				}
				&.active{
					opacity: 1;
				}
			}
		}

		.centrador{
			height: 100%;
			.flexbox;
			flex-direction: column;
			justify-content: space-between;
			padding: 0px 80px;
			max-width: none;

			.row{
				position: relative;
				width: 100%;
				.flexbox;
				justify-content: space-between;
				img{
					&#logo{
						width: 120px;
					}
					&#tagline{
						width: 270px;
					}
					&#years{
						width: 130px;
					}
					&#new{
						width: 150px;
					}
				}

				#social{
					position: relative;
					.social{
						position: relative;
						.flexbox;
						align-items: center;
						justify-content: center;
						margin-top: 40px;
						.rrss{
							position: relative;
							margin: 0px 15px;
							.ico{
								position: relative;
								cursor: pointer;
								i{
									font-size: 20px;
									color: #F3DDA1;
									display: block;
								}
							}
						}
					}
				}
				&#top{
					align-items: flex-start;
				}
				&#bottom{
					align-items: flex-end;
				}
			}
		}

	}
}



//CONTACT

#contact{

	#contacto{

		#formulario{

			&.waiting{
				pointer-events: none;
				cursor: wait;
			}

			&.error{
				button{
					pointer-events: none;
				}
			}

			&.ok{
				button{
					pointer-events: none;
				}
			}
		}
	}

}
