.formularios{
	
	&.white{
		background: #FAFAFA;
	}
	
	&.clear{
		background: #F6F6F6;
	}
	
	.fotos{
		position: relative;
		padding: 15px;
		.borderbox;
		.flexbox;
		
		&.avatar{
			justify-content: center;
			align-items: center;
			height: 180px;
			.foto{
				width: 120px;
				height: 120px;
				border-radius: 50%;
			}
		}
	
		
		.foto{
			position: relative;
			border: 5px dashed #EFEFEF;
			background-size: cover !important;
			height: auto;
			.flexbox;
			justify-content: center;
			align-items: center;
			width: 100%;
			.borderbox;
			.perspective(100%);
			&:nth-child(n+2){
				border-left: transparent;
			}
			&.producto{
				background-size: contain !important;
			}
			input[type="file"]{
				.coverfull;
				opacity: 0;
				cursor: pointer;
			}
			.type{
				position: relative;
				.flexbox;
				justify-content: center;
				flex-wrap: wrap;
				pointer-events: none;
				i{
					display: block;
					margin: 0px auto 10px;
					font-size: 20px;
					color: @color--admin--text--light;
				}
				label{
					display: block;
					margin: 0px;
					.text(400);
					color: @color--admin--text--light;
					font-size: 15px;
					pointer-events: none;
					width: 100%;
					text-align: center;
				}
			}
			
		}
	
	}
	
	
	.archivos{
		position: relative;
		padding: 15px;
		.borderbox;
		.flexbox;
		
		.archivo{
			position: relative;
			border: 5px dashed #EFEFEF;
			background-size: cover !important;
			height: auto;
			.flexbox;
			justify-content: center;
			align-items: center;
			width: 100%;
			.borderbox;
			.perspective(100%);
			&:nth-child(n+2){
				border-left: transparent;
			}
			input[type="file"]{
				.coverfull;
				opacity: 0;
				cursor: pointer;
			}
			.type{
				position: relative;
				.flexbox;
				justify-content: center;
				flex-wrap: wrap;
				pointer-events: none;
				i{
					display: block;
					margin: 0px auto 10px;
					font-size: 20px;
					color: @color--admin--text--light;
				}
				label{
					display: block;
					margin: 0px;
					.text(400);
					color: @color--admin--text--light;
					font-size: 15px;
					pointer-events: none;
					width: 100%;
					text-align: center;
				}
			}
			&.active{
				.type{
					i,label{
						color: @color--admin--accent;
					}
				}
			}
			
		}
	
	}
	
	
	
	.input{
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,0.08);
		.flexbox;
		
		input[type="text"],input[type="number"],input[type="password"],input[type="mail"],input[type="date"],input[type="color"],textarea,select{
			border: none;
			display: block;
			width: 100%;
			background: none;
			padding: 0px 15px;
			min-height: 45px;
			padding-left: 125px;
			font-size: 16px;
			.text(100);
			letter-spacing: 1px;
			resize: none;
			.borderbox;
			&:focus{
				outline: none;
			}
		}
		
		::-webkit-input-placeholder{color: rgba(255, 255, 255, 0);}
		::-moz-placeholder{color: rgba(255, 255, 255, 0);}
		:-ms-input-placeholder{color: rgba(255, 255, 255, 0);}
		:-moz-placeholder{ color: rgba(255, 255, 255, 0);}
		
		
		&.placeholder{
			::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.65);}
			::-moz-placeholder{color: rgba(0, 0, 0, 0.65);}
			:-ms-input-placeholder{color: rgba(0, 0, 0, 0.65);}
			:-moz-placeholder{ color: rgba(0, 0, 0, 0.65);}
		}
		
		&.onlyplaceholder{
			::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.65);}
			::-moz-placeholder{color: rgba(0, 0, 0, 0.65);}
			:-ms-input-placeholder{color: rgba(0, 0, 0, 0.65);}
			:-moz-placeholder{ color: rgba(0, 0, 0, 0.65);}
			label{
				display: none;
			}
			input{
				padding-left: 15px;
			}
		}
		
		textarea{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		input[type="color"]{
			cursor: pointer;
			max-width: 180px;
			margin: 10px 0px;
			min-height: 25px;
			height: 25px;
		}
		
		input[type="text"],input[type="number"],input[type="password"],textarea,input[type="mail"],select{
			&:focus + .focus{
				width: 100%;
			}
		}
		
		.focus{
			position: absolute;
			bottom: -1px;
			left: 0px;
			width: 0%;
			height: 1px;
			background: @color--admin--accent;
			.transition2(250ms);
		}
		
		select{
			height: 45px;
			margin-right: 5px;
		}
		
		label{
			.text(300);
			font-size: 11px;
			text-transform: uppercase;
			color: rgba(0,0,0,0.4);
			pointer-events: none;
			display: block;
			text-align: right;
			width: 100%;
			max-width: 110px;
			line-height: 1.4;
			.borderbox;
			position: absolute;
			left: 0px;
			pointer-events: none;
			top: 15px;
		}
		
		
		&.off{
			pointer-events: none;
			opacity: .6;
		}
		
		
		&.tags-input{
			
			flex-wrap: wrap;
			
			input{
				font-size: 14px;
			}
			
			::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.55);}
			::-moz-placeholder{color: rgba(0, 0, 0, 0.55);}
			:-ms-input-placeholder{color: rgba(0, 0, 0, 0.55);}
			:-moz-placeholder{ color: rgba(0, 0, 0, 0.55);}
			
			.tags{
				position: relative;
				width: 100%;
				.borderbox;
				padding: 0px 5px 5px 120px;
				.flexbox;
				flex-wrap: wrap;
				.tag{
					position: relative;
					padding: 7px 25px 7px 10px;
					background: @color--admin--accent;
					cursor: pointer;
					.transition(150ms);
					margin-right: 6px;
					margin-bottom: 6px;
					.borderbox;
					&.suggest{
						opacity: .5;
						i{
							top: 7px;
						}
						&:hover{
							background: @color--admin--accent;
							span,i{
								color: @color--admin--over;
							}
							opacity: 1;
						}
					}
					span{
						.text(300);
						color: @color--admin--over;
						display: block;
						font-size: 15px;
						.transition(150ms);
					}
					i{
						color: @color--admin--over;
						position: absolute;
						top: 6px;
						right: 7px;
						font-size: 14px;
						.transition(150ms);
					}
					&:hover{
						background: @color--admin--del;
						span,i{
							color: white;
						}
					}
				} 
			}
			
		}
		
		
		&.check{
			padding: 0px 15px;
			
			input[type="checkbox"],input[type="radio"]{
				.coverfull;
				opacity: 0;
				z-index: 2;
				cursor: pointer;
			}
			input:checked + .checkbox{
				background: @color--admin--accent;
			}
			input:checked + .checkbox i{
				opacity: 1;
				color: @color--admin--over;
			}
			.checkbox{
				position: relative;
				height: 25px;
				min-width: 25px;
				width: 25px;
				background: #efefef;
				border-radius: 50%;
				cursor: pointer;
				.transition(200ms);
				.centrar;
				margin-top: 10px;
				i{
					display: block;
					opacity: .2;
					font-size: 13px;
					.transition(200ms);
				}
			}
			label{
				position: relative;
				top: auto;
				left: auto;
				width: 100%;
				min-height: 45px;
				max-width: none;
				text-align: left;
				padding-left: 10px;
				padding-top: 16px;
			}
		}
		
		
		
	}
	
	
	button{
		position: relative;
		height: 45px;
		cursor: pointer;
		background: none;
		font-size: 14px;
		text-transform: uppercase;
		border: none;
		.text(300);
		width: 100%;
		color: @color--admin--over;
		background: @color--admin--accent;
		opacity: .75;
		display: block;
		&:hover{
			opacity: 1;
		}
		&.del{
			background: @color--admin--del;
			color: white;
		}
		&.ok{
			background: @color--admin--ok;
			color: white;
		}
	}
	
	
	.acciones{
		position: relative;
		.flexbox;
	}
	
	

	
	//BLOCK MANAGER
	
	.blockManager{
		
		position: relative;
		background: #FAFAFA;
		
		//TYPES
		.types{
			position: relative;
			.flexbox;
			align-items: center;
			flex-wrap: wrap;
			padding: 0px 0px 15px;
			.borderbox;
			background: #F6F6F6;
			
			.type{
				position: relative;
				.centrar;
				height: 60px;
				width: 60px;
				border-radius: 50%;
				.borderbox;
				cursor: pointer;
				.text(500);
				font-size: 15px;
				text-align: center;
				background: white;
				margin-right: 10px;
				
				&.active{
					background: @color--admin--accent;
					i{
						color: white;
					}
				}
				
				i{
					font-size: 18px;
					margin: 0px 2px;
					color: @color--admin--text;
				}
				
				&:hover{
					.tip{
						opacity: 1;
					}
				}
				
				.tip{
					width: 120px;
					top: 120%;
					small{
						text-align: center;
					}
				}
			
			}
			
		}
		
		
		.form{
			position: relative;
		}
		
		
		.bloques{
			
		}
		
		
	}
	
	
	.bloques{
		
		position: relative;
		background: #F6F6F6;
		padding: 25px 20px;
		
		&.miniaturas{
			
			.flexbox;	
			flex-wrap: wrap;
			
			&.double{
				.bloque{
					width: 50%;
				}
			}
			
			&.triple{
				.miniatura{
					width: 33%;
				}
			}
			
			.bloque .preview{
				box-shadow: none;
			}
		}
		
		.bloque{
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			.flexbox;
			align-items: flex-start;
			
			.preview{
				position: relative;
				width: 100%;
				box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
				background: #fafafa;
				
				.imagen{
					position: relative;
					background: #E2E2E2;
					.perspective(100%);
					background-size: cover !important;
					&.contain{
						background-size: contain !important;
					}
				}
				
				.video{
					position: relative;
					
				}
				span{
					.text(300);
					display: block;
				}
				
			}
			
			.edit{
				position: relative;
				width: 100%;
			}
			
			.actions{
				position: relative;
				min-width: 45px;
				margin-left: 10px;
				
				&.double{
					.flexbox;
					flex-direction: column;
					flex-wrap: wrap;
					min-width: 80px;
					max-height: 80px;
					.action{
						margin-right: 5px;
					}
				}
				
				.action{
					position: relative;
					width: 35px;
					height: 35px;
					.flexbox;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background: white;
					cursor: pointer;
					margin-bottom: 5px;
					.transition(100ms);
					i{
						color: @color--admin--text;
						font-size: 16px;
						&.fa-caret-down,&.fa-caret-up,&.fa-caret-left,&.fa-caret-right{
							font-size: 20px;
						}
					}
					&.active{
						background: @color--admin--accent;
						i{
							color: @color--admin--over;
						}
					}
					&:hover{
						background: @color--admin--accent;
						i{
							color: @color--admin--over;
						}
					}
					&.del:hover{
						background: @color--admin--del;
						i{
							color: white;
						}
					}
				}
				
			}
		}
		
	}
	
	
	.photoGallery{
		position: relative;
		.photos{
			position: relative;
			.perspective(100%);
			.photo{
				background: #E2E2E2;
				.coverfull;
				opacity: 0;
				.transition(400ms);
				&.active{
					opacity: 1;
				}
			}
			.nav{
				position: absolute;
				top: 0;
				width: 100px;
				.centrar;
				z-index: 40;
				height: 100%;
				cursor: pointer;
				.arrow{
					width: 50px;
					height: 50px;
					border-radius: 50%;
					.centrar;
					background: rgba(255, 255, 255, 0.2);
					i{
						font-size: 20px;
						color: @color--admin--text;
						display: block;
					}
				}
			}
			
			.nav.prev{
				left: 0px;
			}
			.nav.next{
				right: 0px;
			}
		}
		.thumbs{
			position: relative;
			.flexbox;
			flex-wrap: wrap;
			.thumb{
				position: relative;
				.perspective(100%);
				background: #E2E2E2;
				.borderbox;
				opacity: .5;
				cursor: pointer;
				width: 25%;
				&.active{
					opacity: 1;
				}
			}
			&.doble{
				.thumb{
					width: 50%;
				}
			}
			&.triple{
				.thumb{
					width: 33.33%;
				}
			}
		}
	}
	
	
}