/*
	MEDIA SCREEN
*/

/* =Full Screen
-----------------------------------------------------------------------------*/
@media only screen and (min-width : 1824px) {
	
}

/* = Tablet Horizontal
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 1224px) {
	
	
	#dashboard #rx{
		display: block;
		
		.opener{
			position: fixed;
			left: 0px;
			top: 0px;
			width: 20px;
			height: 100%;
			.flexbox;
			justify-content: center;
			align-items: center;
			opacity: 0;
			pointer-events: none;
			.transition(600ms);
			
			&.show{
				opacity: 1;
				pointer-events: all;
			}
			
			.arrow{
				position: relative;
				width: 5px;
				height: 80px;
				border-radius: 4px;
			}
			
			&#opn_menu{
				z-index: 160;
				.arrow{
					background: #292C3D;
				}
			}
			
			&#opn_items{
				z-index: 110;
				.arrow{
					background: #E3E3E3;
					height: 120px;
				}
			}
		}
		
		.cerrador{
			.coverfull;
			background: black;
			position: fixed;
			opacity: 0;
			pointer-events: none;
			.transition(600ms);
			
			&#cls_menu{
				z-index: 140;
				&.show{
					opacity: .2;
					pointer-events: all;
				}
			}
			
			&#cls_items{
				z-index: 90;
				&.show{
					opacity: 0;
					pointer-events: none;
				}
			}
			
			
		}
	}
	
	#dashboard aside{
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 150;
		height: 100%;
		width: 150px;
		min-width: 150px;
		.transition2(600ms);
		.translate(-100%,0%);
		&.show{
			.translate(0%,0%);
		}
	}
	
}

/* = Tablet Vertical / Movil Ancho
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 830px) {
	
	
	//LOGIN
	
	#login #cover{
		width: 35%;
	}
	
	#login #cover .slogan{
		display: none;
	}
	
	#login #form{
		width: 65%;
	}
	
	#login #form .login h3,#login #form .login .input{
		padding-left: 40px;
	}
	
	
	
	//DASHBOARD
	
	#dashboard main section#content{
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 100;
		height: 100%;
		.transition2(600ms);
		.translate(-100%,0%);
		&.show{
			.translate(0%,0%);
		}
	}
	
	
	//RX
	
	#dashboard #rx .cerrador#cls_items.show{
		opacity: .2;
		pointer-events: all;
	}
	
}

/* = Mobile Small
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 430px) {
	
	#login #cover{
		display: none;
	}
	
	#login #form{
		width: 100%;
	}
	
	
	//DASHBOARD
	
	
	#dashboard main section#content{
		width: 100%;
		min-width: 0px;
		max-width: 280px;
	}
	
	
	//FORMS
	
	.formularios .input label{
		display: none;
	}
	
	.formularios .input input[type="text"], .formularios .input input[type="number"], .formularios .input input[type="password"], .formularios .input input[type="mail"], .formularios .input input[type="date"], .formularios .input input[type="color"], .formularios .input textarea, .formularios .input select{
		padding: 0px 15px;
	}
	
	::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.4);}
	::-moz-placeholder{color: rgba(0, 0, 0, 0.4);}
	:-ms-input-placeholder{color: rgba(0, 0, 0, 0.4);}
	:-moz-placeholder{ color: rgba(0, 0, 0, 0.4);}
	
}