/* =Fonts
-----------------------------------------------------------------------------*/


@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Thin.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Engravers MT Std';
    src: url('../fonts/EngraversMTStd-Bold.woff2') format('woff2'),
        url('../fonts/EngraversMTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

.text(@weight){
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: @weight;
}

.text2(){
	font-family: 'Engravers MT Std', serif;
}


p{
	display: block;
	margin: 0px;
	.text(normal);
	font-size: 26px;
	line-height: 1.2;
	white-space: pre-line;
	color: @color--text;
}


h3{
	display: block;
	color: @color--primary;
	text-transform: uppercase;
	.text2();
	margin: 0px;
	text-align: center;
	font-size: 47px;
}

h4{
	display: block;
	color: @color--primary;
	text-transform: uppercase;
	.text2();
	margin: 0px;
	text-align: center;
	font-size: 30px;
}

