/*
	GENERAL
*/

/* = General Items
-----------------------------------------------------------------------------*/

body{
	margin: 0px;
}

[v-cloak]{
	display: none;
}

.centrador{
	max-width: 1600px;
}

section{
	position: relative;
}

img{
	display: block;
}

main{
	position: relative;
}

.foto,#foto{
	position: relative;
	.blurfoto{
		background-size: cover !important;
	}
}

a{
	text-decoration: none;
	color: inherit;
	&:focus{
		outline: none;
	}
}

.link{
	.centrar;
	position: relative;
	span{
		display: block;
		.text(500);
		text-transform: uppercase;
		color: @color--text;
		letter-spacing: 2px;
		font-size: 15px;
		width: max-content;
		cursor: pointer;
	}
}

button{
	cursor: pointer;
	&:focus{
		outline: none;
	}
	&.boton{
		.centrar;
		height: 50px;
		border: 2px solid @color--primary;
		background: none;
		padding: 0px 25px;
		.transition(400ms);
		span{
			display: block;
			.text(bold);
			text-transform: uppercase;
			color: @color--primary;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 21px;
			.transition(400ms);
		}
		&:hover{
			background: @color--primary;
			span{
				color: @color--secundary;
			}
		}
	}
	&.dark{
		border: 2px solid @color--text;
		span{
			color: @color--text;
		}
		&:hover{
			background: @color--text;
			span{
				color: @color--primary;
			}
		}
	}
}


.features{
	position: relative;
	.centrar;
	margin-top: 15px;
	label{
		padding: 2px 20px;
		display: block;
		.text(bold);
		color: @color--primary;
		letter-spacing: 8px;
		font-size: 15px;
		&:nth-child(2){
			border-left: 1px solid @color--primary;
			padding-left: 26px;
		}
	}
}



header{
	#header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 60px;
		z-index: 100;
		.centrador{
			padding-left: 130px;
			padding-right: 80px;
			max-width: none;
			.flexbox;
			justify-content: space-between;
			align-items: flex-start;
			#logo{
				position: relative;
				img{
					cursor: pointer;
					width: 190px;
				}
			}
			#cerrador{
				.coverfull;
				position: fixed;
				background:  rgba(0, 0, 0, 0.2);
				opacity: 0;
				pointer-events: none;
				z-index: 20;
				.transition(600ms);
				&.active{
					opacity: 1;
					pointer-events: all;
				}
			}
			#menu{
				position: relative;
				z-index: 40;
				.transition(600ms);
				position: fixed;
				top: 60px;
				right: 80px;
				menu{
					position: relative;
					margin: 0px;
					padding: 0px;
					.flexbox;
					align-items: center;
					justify-content: flex-end;
					.link{
						margin-left: 50px;
						span{
							color: @color--primary;
						}
						img{
							cursor: pointer;
							width: 22px;
						}
						b{
							background: @color--primary;
							width: 1px;
							height: 26px;
							display: block;
							margin: 0px 24px;
						}
						&:hover{
							span{
								.text(bold);
							}
						}
					}
				}
			}
			#actions{
				position: relative;
				display: none;
				z-index: 30;
				.action{
					position: relative;
					cursor: pointer;
					.ico{
						position: relative;
						.centrar;
					}
				}
			}
		}

	}

	#scroll{
		position: fixed;
		cursor: pointer;
		width: 50px;
		height: 50px;
		bottom: 20px;
		right: 30px;
		z-index: 200;
		.centrar;
		background: @color--secundary;
		opacity: 0;
		pointer-events: none;
		.transition(400ms);
		&.active{
			opacity: 1;
			pointer-events: all;
		}
	}
}


footer{
	position: relative;
	background: @color--secundary;
	.centrador{
		padding: 0px 40px;
		max-width: none;
		.flexbox;
		justify-content: space-between;
		height: 75px;
		align-items: center;
		.rrss{
			position: relative;
			.flexbox;
			align-items: center;
			.ico{
				position: relative;
				.centrar;
				margin-right: 28px;
				i{
					color: @color--primary;
					font-size: 18px;
				}
			}
		}
		small{
			display: block;
			text-align: center;
			color: @color--primary;
			.text(normal);
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: .5px;
		}
		#scroll{
			position: relative;
			cursor: pointer;
			width: 50px;
			height: 50px;
			.centrar;
			opacity: 0;
		}
	}
}
