/*
	MEDIA SCREEN
*/

/* =Full Screen
-----------------------------------------------------------------------------*/
@media only screen and (min-width : 1824px) {
	
	#site #soon .centrador{
		padding: 0px 120px;
	}
	
	#site #soon .centrador .row img#logo{
		width: 170px;
	}
	
	#site #soon .centrador .row img#tagline{
		width: 400px;
	}
	
	#site #soon .centrador .row img#years{
		width: 180px;
	}
	
	#site #soon .centrador .row img#new{
		width: 220px;
	}
	
}

/* = Desktop
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 1600px) {
	
	//HEADER
	
	header #header{
		padding-top: 40px;
	}
	
	header #header .centrador{
		padding-left: 60px;
		padding-right: 60px;
	}
	
	header #header .centrador #menu menu .link span{
		font-size: 12px;
	}
	
	header #header .centrador #menu menu .link b{
		margin: 0px 10px;
	}
	
	header #header .centrador #logo img{
		width: 160px;
	}
	
	
	//FONTS
	
	p{
		font-size: 20px;
	}
	
	
	//COVER
	
	#site #cover > img{
		width: 180px;
		right: 60px;
	}
	
	
	
	//SITE
	
	#site main section#excepcional .centrador .color .centro{
		max-width: 450px;
	}	
	
	
	#site main section#productos .centrador .color .centro{
		max-width: 570px;
	}
	
	#site main section#products .centrador .producto .color .centro{
		max-width: 430px;
	}
	
	#site main section#origen .centrador .color .centro{
		max-width: 540px;
	}
	
	#site main section#origen .centrador .color .centro p{
		margin-top: 60px;
	}
	
	
	#site main section#herencia .centrador .color .centro #heritage .heritage .texto p{
		font-size: 17px;
	}
	
	#site main section#herencia .centrador .color{
		padding-left: 0px;
	}
	
	#site main section#herencia .centrador .color .centro #heritage{
		margin-top: 60px;
	}
	
	#site main section#herencia .centrador .color .centro #heritage .heritage{
		margin-bottom: 30px;
	}
	
	#site main section#terroir .centrador{
		padding: 0px 60px;
	}
	
	#site main section#terroir .centrador .centro p{
		font-size: 17px;
	}
	
	#site main section#terroir .centrador .centro{
		max-width: 460px;
	}
	
	#site main section#terroir #locations .location#jalisco{
		left: 8%;
	}
	
	#site main section#terroir #locations .location span{
		font-size: 12px;
	}
	
	#site main section#sabor .centrador #factors .factor .texto span{
		font-size: 20px;
	}
	
	#site main section#sabor .centrador #factors .factor .texto h4{
		margin-bottom: 20px;
	}
	
	#site main section#products .centrador .producto .photo img{
		width: 140px;
	}
	
	
	//FOOTER
	
	footer .centrador small{
		font-size: 12px;
	}
	
	
}


/* = Tablet Horizontal
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 1224px) {
	
	
	//HEADER
	
	header #header .centrador #menu menu .link{
		margin-left: 30px;
		&:first-of-type{
			margin-left: 0px;
		}
	}
	
	header #header .centrador #menu menu .link b{
		margin: 0px 10px;
	}
	
	header #header .centrador{
		padding: 0px 40px;
	}
	
	
	
	//FONTS
	
	h3{
		font-size: 25px;
	}
	
	h4{
		font-size: 16px;
	}
	
	p{
		font-size: 17px;
	}
	
	
	//COVER
	
	#site #cover > img{
		width: 150px;
		right: 40px;
		bottom: 40px;
	}
	
	
	//SITE
	
	#site main section#excepcional .centrador .color .centro .features label{
		font-size: 10px;
	}
	
	#site main section#excepcional .centrador .color .centro p{
		margin: 30px auto 0px;
	}
	
	#site main section#excepcional .centrador .color .centro{
		max-width: 260px;
	}
	
	#site main section#productos .centrador .color{
		padding: 160px 0px;
	}
	
	#site main section#products .centrador .producto .color .centro p{
		margin-top: 30px;
		line-height: 1.3;
	}
	
	#site main section#products .centrador .producto .color .centro{
		max-width: 380px;
	}
	
	#site main section#products .centrador .producto .color .centro h4{
		font-size: 14px;
	}
	
	#site main section#products .centrador .producto .color .centro h3{
		font-size: 26px;
	}
	
	#site main section#products .features label{
		font-size: 10px;
	}
	
	#site main section#herencia{
		padding: 0px;
	}
	
	#site main section#herencia .centrador{
		flex-wrap: wrap-reverse;
		padding: 0px;
	}
	
	#site main section#herencia .centrador .color{
		width: 100%;
		padding: 60px 40px;
		.flexbox;
		justify-content: center;
	}
	
	#site main section#herencia .centrador #photos{
		width: 100%;
		display: none;
	}
	
	#site main section#terroir #locations .location#jalisco{
		left: 2%;
	}
	
	#site main section#terroir #locations .location#tamaulipas{
		left: 40%;
	}
	
	#site main section#reconocimientos .centrador #slider nav{
		display: none;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro h4,#site main section#reconocimientos .centrador #slider #photos .photo .centro h3{
		font-size: 14px;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro span{
		font-size: 10px;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro > img{
		width: 100px;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro{
		top: 60px;
		left: 40px;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro small{
		font-size: 10px;
	}
	
	#site main section#contacto .centrador .centro h4{
		font-size: 20px;
	}
	
	#site main section#contacto .centrador .centro #formulario{
		margin-top: 35px;
		max-width: 500px;
	}
	
	#site main section#contacto{
		padding: 120px 0px 150px;
	}
	
	
	//FOOTER
	
	
	footer .centrador small{
		max-width: 500px;
	}

	
	
}

/* = Tablet Vertical / Movil Ancho
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 820px) {
	
	
	
	
	//HEADER
	
	header #header .centrador #actions{
		.flexbox;
	}
	
	header #header .centrador #menu{
		.coverfull;
		height: auto;
		background: @color--secundary;
		position: fixed;
		padding: 140px 0px 80px;
		opacity: 0;
		pointer-events: none;
		right: auto;
	}
	
	header #header .centrador #menu menu{
		width: 100%;
		display: block;
	}
	
	header #header .centrador #menu menu .link{
		margin-left: 0px !important;
		margin-bottom: 50px;
		justify-content: center;
	}
	
	header #header .centrador #menu menu .link span{
		font-size: 16px;
	}
	
	header #header .centrador #menu menu .link:last-of-type{
		margin-top: 70px;
	}
	
	header #header .centrador #menu menu .link b{
		margin: 0px 15px;
	}
	
	header.menu{
		#header .centrador #menu{
			opacity: 1;
			pointer-events: all;
		}
	}
	
	
	
	//SITE
	
	#site #cover > img{
		width: 130px;
	}
	
	#site #cover .rrss .ico i{
		font-size: 24px;
	}
	
	
	#site main section#excepcional .centrador{
		display: block;
	}
	
	#site main section#excepcional .centrador .color{
		width: 100%;
		padding: 70px 40px 60px;
	}
	
	#site main section#excepcional .centrador .photo{
		width: 100%;
	}
	
	#site main section#excepcional .centrador .photo:after{
		padding-bottom: 63%;
	}
	
	#site main section#productos .centrador .color{
		padding: 70px 0px 60px;
	}
	
	#site main section#excepcional .centrador .color .centro{
		max-width: 450px;
	}
	
	#site main section#productos .centrador .color .centro{
		max-width: 450px;
	}
	
	#site main section#productos .centrador .color .centro h4{
		font-size: 17px;
	}
	
	#site main section#productos .centrador .color .centro h3{
		font-size: 24px;
	}
	
	#site main section#productos .centrador .color .centro p{
		margin: 45px auto 0px;
	}
	
	
	
	#site main section#products .centrador .producto .photo:after{
		padding-bottom: 85%;
	}
	
	
	#site main section#products .centrador .producto{
		flex-wrap: wrap-reverse;
	}
	
	#site main section#products .centrador .producto .photo{
		width: 100%;
	}
	
	#site main section#products .centrador .producto .color{
		width: 100%;
		padding: 60px 40px 60px;
	}
	
	#site main section#products .centrador .producto .color .centro{
		max-width: 450px;
	}
	
	
	
	#site main section#terroir{
		padding: 80px 0px 600px;
	}
	
	#site main section#terroir .centrador{
		justify-content: center;
	}
	
	#site main section#terroir .blurfoto#desktop{
		display: none;
	}
	
	#site main section#terroir .blurfoto#mobile{
		display: block;
	}
	
	#site main section#terroir .blurfoto{
		bottom: 0px;
		top: auto;	
	}
	
	#site main section#terroir #locations .location#jalisco{
		top: 82%;
		left: 15%;
	}
	
	#site main section#terroir #locations .location#tamaulipas{
		left: 65%;
		top: 65%;
	}
	
	#site main section#terroir #locations .location#tamaulipas img{
		right: 50%;
		top: auto;
		bottom: 120%;
	}
	
	
	#site main section#sabor .centrador #factors .factor .texto{
		width: 280px;
	}
	
	
	
	
	
	#site #soon #photos .photo.desktop{
		display: none;
	}
	
	#site #soon #photos .photo.mobile{
		display: block;
	}
	
	
	#site #soon .centrador .row img#logo{
		width: 160px;
	}
	
	#site #soon .centrador .row img#tagline{
		width: 220px;
	}
	

	
}

/* = Mobile Small
-----------------------------------------------------------------------------*/
@media only screen and (max-width : 430px) {
	
	
	.centrador{
		padding: 0px 40px;
	}
	
	.features label{
		padding: 0px 10px;
		letter-spacing: 4px;
	}
	
	.features label:nth-child(2){
		padding-left: 14px;
	}
	
	//HEADER
	
	header #header .centrador #logo img{
		width: 115px;
	}
	
	header #header .centrador #menu{
		padding: 80px 0px 20px;
	}
	
	header #header .centrador #menu menu .link{
		margin-bottom: 40px;
	}
	
	header #scroll{
		right: 20px;
	}
	
	
	
	//AGE
	
	#age .centro .form{
		margin-top: 60px;
	}
	
	#age .centro .form > span{
		font-size: 17px;
	}
	
	#age button.boton span{
		font-size: 17px;
	}
	
	#age .centro .form > span{
		margin-bottom: 30px;
	}
	
	#age .centro .form .actions button{
		margin: 0px 10px;
	}
	
	
	//SITE
	
	#site main section#products .centrador .producto .photo img{
		width: 70px;
	}
	
	#site main section#origen .centrador .color .centro h4{
		font-size: 16px;
	}
	
	#site main section#origen .centrador .color .centro h3{
		font-size: 27px;
	}
	
	#site main section#origen .centrador .color .centro label{
		margin-top: 10px;
		font-size: 10px;
	}
	
	#site main section#origen .centrador .color{
		padding: 70px 40px 60px;
	}
	
	#site main section#herencia .centrador #photos{
		display: block;
	}
	
	#site main section#terroir{
		padding-bottom: 360px;
	}
	
	#site main section#terroir .centrador .centro h4{
		font-size: 15px;
	}
	
	#site main section#terroir .centrador .centro h3{
		font-size: 26px;
	}
	
	#site main section#terroir .centrador .centro label{
		font-size: 9px;
	}
	
	#site main section#terroir .blurfoto{
		height: 50%;
	}
	
	#site main section#terroir #locations .location img{
		width: 30px;
	}
	
	#site main section#terroir #locations .location b{
		font-size: 9px;
	}
	
	#site main section#terroir #locations .location span{
		font-size: 9px;
	}
	
	#site main section#terroir #locations .location#tamaulipas{
		left: 56%;
		top: 85%;
	}
	
	#site main section#terroir #locations .location#jalisco{
		top: 92%;
		left: 9%;
	}
	
	#site main section#terroir #locations .location#jalisco img{
		left: 90%;
	}
	
	#site main section#terroir .centrador{
		padding: 0px 40px;
	}
	
	#site main section#sabor .centrador{
		padding: 0px;
	}
	
	
	#site main section#sabor .centrador #photo{
		display: block;
	}
	
	#site main section#sabor .centrador #factors{
		width: 100%;
		padding: 60px 40px 60px;
		.borderbox;
	}
	
	#site main section#sabor .centrador #factors .factor{
		width: 100%;
		background: white;
		margin-bottom: 0px;
		padding: 20px 0px;
		&:last-of-type{
			padding-bottom: 40px;
		}
	}
	
	#site main section#sabor .centrador #factors .factor.center .texto{
		width: 280px;
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		.translate(0%,0%);
		
	}
	
	#site main section#sabor .centrador #factors .factor .texto span{
		font-size: 17px;
		text-align: center !important;
	}
	
	#site main section#sabor .centrador #factors .factor .dot{
		display: none;
	}
	
	#site main section#sabor .centrador #factors .factor .texto{
		position: relative;
		top: auto;
		left: auto !important;
		right: auto !important;
		margin: 0px auto;
	}
	
	#site main section#sabor .centrador #factors .factor .texto h4{
		text-align: center !important;
	}
	
	
	#site main section#reconocimientos .centrador #slider:after{
		padding-bottom: 130%;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .centro{
		max-width: 240px;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .blurfoto#desktop{
		display: none;
	}
	
	#site main section#reconocimientos .centrador #slider #photos .photo .blurfoto#mobile{
		display: block;
	}
	
	#site main section#contacto{
		padding: 80px 0px 60px;
	}
	
	#site main section#contacto .centrador .centro #formulario .input input, #site main section#contacto .centrador .centro #formulario .input textarea{
		font-size: 12px;
	}
	
	
	
	//FOOTER
	
	footer .centrador small{
		font-size: 8px;
		.borderbox;
		padding: 0px 20px;
	}
	
	footer .centrador{
		padding: 0px 20px;
	}
	
	footer .centrador .rrss{
		display: block;
		margin-right: 10px;
	}
	
	footer .centrador .rrss .ico{
		margin-right: 0px;
	}
	
	footer .centrador .rrss a:first-of-type .ico{
		margin-bottom: 10px;
	}
	
	footer .centrador #scroll{
		width: 30px;
		height: 30px;
		min-width: 30px;
		img{
			width: 20px;
		}
	}
	
	
	
	#site #soon{
		padding: 40px 0px;
	}
	
	#site #soon .centrador{
		padding: 0px 40px;
	}
	
	#site #soon .centrador .row#top{
		display: block;
	}
	
	#site #soon .centrador .row img#logo{
		width: 100px;
		margin: 0px auto;
	}
	
	#site #soon .centrador .row img#tagline{
		width: 180px;
		margin: 30px auto 0px;;
	}
	
	#site #soon .centrador .row img#years{
		width: 100px;
	}
	
	#site #soon .centrador .row img#new{
		width: 110px;
	}
	
	#site #soon .centrador .row #social .social .rrss .ico i{
		font-size: 15px;
	}
	
	#site #soon .centrador .row #social .social{
		margin-top: 15px;
	}
	
	#site #soon .centrador .row #social .social .rrss{
		margin: 0px 10px;
	}
	
}