<template>

	<section id="contacto">
		<div class="centrador">

			<div class="centro">
				<h4 v-if="$root.locale == 'es'">Contáctanos</h4>
				<h4 v-else>Contact us</h4>

				<div id="formulario" :class="resultClass">

					<div class="input" :class="{alerta:alerts[0]}">
						<input type="text" placeholder="Nombre" v-model="name" @keypress="removeAlerts" v-if="$root.locale == 'es'">
						<input type="text" placeholder="Name" v-model="name" @keypress="removeAlerts" v-else>
					</div>

					<div class="input" :class="{alerta:alerts[1]}">
						<input type="text" placeholder="E-mail" v-model="email" @keypress="removeAlerts">
					</div>

					<div class="input" :class="{alerta:alerts[2]}">
						<textarea placeholder="Mensaje" rows="6" v-model="message" @keypress="removeAlerts" v-if="$root.locale == 'es'"></textarea>
						<textarea placeholder="Message" rows="6" v-model="message" @keypress="removeAlerts" v-else></textarea>
					</div>

					<button class="boton dark" @click="send"><span>{{ notification }}</span></button>

				</div>

				<div class="link">
					<a href="/docs/2023-10_CHI-dist_2.pdf">
					<span v-if="$root.locale == 'es'">Distribuidores</span>
					<span v-else>Distributors</span>
					</a>
				</div>

			</div>

		</div>
	</section>



</template>

<script>

	import useVuelidate from '@vuelidate/core';
	import { required } from '@vuelidate/validators';

	export default {
		setup() {
			return { v$: useVuelidate({ $autoDirty: true }) };
		},
		data() {
			return {
				name: '',
				email: '',
				message: '',
				notification: 'Enviar mensaje',
				alerts:[false,false,false],
				resultClass: '',
				errors:[],
				showErrors: false,
			};
		},
		validations() {

			return {
				name: {
					required,
				},
				email: {
					required,
				},
				message: {
					required,
				},
			}
		},
		methods: {


			validate() {


				this.errors = [];

				if (this.v$.name.required.$invalid) {
					this.errors.push('Escribe tu nombre');
					this.alerts[0] = true;
				}

				if (this.v$.email.required.$invalid) {
					this.errors.push('Escribe tu email');
					this.alerts[1] = true;
				}

				if (this.v$.message.required.$invalid) {
					this.errors.push('Escribe tu mensaje');
					this.alerts[2] = true;
				}

				if (_.isEmpty(this.errors)) {

					this.showErrors = false;
					return true;

				} else {

					this.showErrors = true;
					return false;
				}
			},

			initForm() {
				this.name =  '';
				this.email = '';
				this.message = '';
			},

			removeAlerts(){
				this.errors = [];
				this.showErrors = false;
				this.alerts = [false,false,false];
			},

			async send() {

				if(this.$root.locale == 'es'){
					this.loading('Enviando...');
				}else{
					this.loading('Sending...');
				}



				if (!this.validate()) {

					if(this.$root.locale == 'es'){
						this.bad('Completa el formulario');
					}else{
						this.bad('Missing fields');
					}

					return false;
				}


				let contacto = {
					site_id: '35',
					token: 'SVtXlGg27fBwV3z49AJsnTK3zwXlpyPYWGZAVY8z',
					data: {
						Name: this.name,
						Email: this.email,
						Message: this.message,
					},
				};



				let response = await window.axios.post('https://mail.planetoi.de/api/send', contacto);

				if (response.status) {

					this.removeAlerts();
					this.initForm();

					if(this.$root.locale == 'es'){
						this.good('Mensaje enviado');
					}else{
						this.good('Message Sent');
					}


				} else {
					this.bad('Error');
					this.removeAlerts();
				}


			},

			good(msg) {
				this.notification = msg;
				this.resultClass = 'ok';
			},

			bad(msg) {
				this.notification = msg;
				this.resultClass = 'error';

				setTimeout(() => {
					this.resultClass = '';
					if(this.$root.locale == 'es'){
						this.notification = 'Enviar mensaje';
					}else{
						this.notification = 'Send message';
					}
				}, 4000);
			},

			loading(msg) {
				this.notification = msg;
				this.resultClass = 'waiting';
			},
		},

		mounted(){

			if(this.$root.locale == 'es'){
				this.notification = 'Enviar mensaje';
			}else{
				this.notification = 'Send message';
			}

		},
	};
</script>


