/* =Colors
-----------------------------------------------------------------------------*/

//SITE


@color--primary:		#F2DDA1;
@color--secundary: 		#143727;
@color--terciary: 		#B9564E;
@color--text: 			#143727;
@color--text--light:    #888E91;
@color--accent: 		#59FCE7;
@color--background: 	#FAFAFA;
@color--line: 			rgba(0,0,0,0.06);


//SOCIAL


@color--twitter:	#55acee;
@color--facebook:	#3b5998;
@color--instagram:	#833ab4;
@color--youtube:	#e62117;
@color--whatsapp:	#25d366;
@color--planetoide: #59FCE7;


//ADMIN

@color--admin--back:    	#fff;
@color--admin--accent:  	#59FCE7;
@color--admin--over:    	#000000;
@color--admin--background: 	#FAFAFA;
@color--admin--ok:      	#59FCE7;
@color--admin--error:   	#FC4342;
@color--admin--del:     	#FC4342;
@color--admin--text:    	#363636;
@color--admin--text--light: #C8C8C8;
@color--admin--line: 		rgba(0,0,0,0.06);