////////////LAYOUT
////////////////////////

//LAYOUT ITEM
.layout_item{


	&.new{
		
	}
	
	//CUSTOM
	
	
}


//LAYOUT FORM
.view#edit_view #layout_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
}


//LAYOUT PREVIEW
.view#preview #layout_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}