////////////MONITOR
////////////////////////

//MONITOR ITEM
.monitor_item{

	
	//CUSTOM
	
	.texto{
		span{
			margin-top: 4px;
		}
	}
}


//MONITOR FORM
.view#edit_view #monitor_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
}


//MONITOR PREVIEW
.view#preview #monitor_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	max-width: 500px;
	
	#detalles{
		padding: 30px 0px;
	}
	
	#accion{
		padding: 20px;
		
		#administrador{
			position: relative;
			.flexbox;
			align-items: center;
			margin-bottom: 15px;
			.avatar{
				width: 40px;
				min-width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #ECECEC;
				margin-right: 10px;
			}
			.texto{
				position: relative;
				width: 100%;
				strong{
					.text(500);
					display: block;
					color: @color--admin--text;
				}
			}
		}
		
		#descripcion{
			position: relative;
			background: #ECECEC;
			padding: 15px;
			span{
				display: block;
				.text(300);
				color: @color--admin--text;
			}
		}
		
	}
	
}