////////////PROMOS
////////////////////////

//PROMO ITEM
.promo_item{


	&.new{
		.perspective(50%);
	}

	//CUSTOM

	.foto{
		.perspective(50%);
	}


}


//PROMO FORM
.view#edit_view #promo_form{

	position: relative;
	margin: 0px auto;
	width: 100%;

	//CUSTOM
	max-width: 600px;

	.fotos .foto{
		.perspective(50%);
	}

}


//PROMO PREVIEW
.view#preview #promo_preview{
	position: relative;
	margin: 0px auto;
	width: 100%;

	//CUSTOM

	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);


}
