////////////SETTING
////////////////////////

//SETTING ITEM
.setting_item{


	&.new{
		
	}
	
	//CUSTOM
	
	
}


//SETTING FORM
.view#edit_view #setting_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
}


//SETTING PREVIEW
.view#preview #setting_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}