////////////WEBSITE
////////////////////////

//WEBSITE ITEM
.website_item{


	&.new{
		
	}
	
	//CUSTOM
	
	
}


//WEBSITE FORM
.view#edit_view #website_form{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	
}


//WEBSITE PREVIEW
.view#preview #website_preview{
	
	position: relative;
	margin: 0px auto;
	width: 100%;
	
	//CUSTOM
	
	background: #fafafa;
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.16);
	
}